<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        
    <supportedRuntime version="v2.0.50727"/></startup>
  <appSettings>
    <add key="ASSAEXE" value="assa.exe"/>
    <add key="ASSAPATH" value="D:\GAME\assa_"/>
    <add key="ASSAPATH_base" value="D:\GAME\assa\"/>
    <!--<add key="ASSAPATH2" value="D:\GAME\assa_\"/>-->
    <add key="SAName" value="sa_8001sf"/>
    <add key="LoginUserNameXY" value="390,125"/>
    <add key="LoginPasswordXY" value="390,165"/>
    <add key="LoginButton" value="362,317"/>
    <add key="Line1" value="131,191"/>
    <add key="Line1DX" value="279,293"/>
    <add key="Delbutton" value=" 240,373"/>
    <add key="DelConfrimBtn" value=" 148,455"/>
    <add key="BtnCreateChar" value=" 163,371"/>
    <add key="BtnSelectChar" value=" 299,196"/>
    <add key="BtnCfChar" value=" 561,149"/>
    <add key="BtnCharName" value=" 144,141"/>
    <add key="BtnCharPro" value=" 435,285"/>
    <add key="BtnCharCreateConfrom" value=" 99,431"/>
    <add key="BtnCharVar" value=" 91,190"/>
    <add key="BtnCharVarConf" value=" 275,282"/>
    <add key="BtnDelReturn" value=" 320,455"/>
    <add key="BtnReturn" value=" 518,268"/>
    
    <add key="RefreshTime" value="500"/>
    <add key="Ajust" value="50,60"/>
    <add key="HD" value="810,55"/>
    <add key="HD_1" value="825,70"/>
    <add key="HD_1_C" value="860,70"/>
    <add key="HD_1_T" value="860,253"/>
    <add key="HD_2" value="825,70"/>
    <add key="HD_2_C" value="860,70"/>
    <add key="HD_2_T" value="860,253"/>
    <add key="MO" value="810,70"/>
    <add key="MO_1" value="825,85"/>
    <add key="MO_1_C" value="390,160"/>
    <add key="MO_1_T" value="390,160"/>
    <add key="MO_2" value="825,85"/>
    <add key="MO_2_C" value="390,160"/>
    <add key="MO_2_T" value="390,100"/>
    <add key="addrX" value="004BB414"/>
    <add key="addrY" value="004BB418"/>
    <add key="addrSW" value="0462BEEC"/>
    <add key="addrMap" value="04581190"/>
    <add key="CharName" value="0461BA5C"/>
    <add key="CharAct" value="04EC0898"/>
    <add key="CharStone" value="0462BEE8"/>
    <add key="CharHP" value="0462BE98"/>
    
  </appSettings>
</configuration>
