<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="VBRunningPath" value="C:\Program Files\Oracle\VirtualBox"/>
    <add key="startSleepTime" value="3000"/>
    <add key="ScreenShotFolder" value="Screenshotpng"/>
    
  </appSettings>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
