<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        
    <supportedRuntime version="v2.0.50727"/></startup>
  <appSettings>
    <add key="ASSAEXE" value="assa.exe"/>
    <add key="ASSAPATH" value="D:\GAME\shiqiso\assa\"/>
    <add key="LoginUserNameXY" value="390,125"/>
    <add key="LoginPasswordXY" value="390,165"/>
    <add key="Ajust" value="50,60"/>
    <add key="HD" value="810,55"/>
    <add key="HD_1" value="825,70"/>
    <add key="HD_Caption_1" value="880,85"/>
    <add key="HD_Teammate_1" value="880,100"/>
    <add key="HD_2" value="825,85"/>
    <add key="HD_Caption_2" value="880,85"/>
    <add key="HD_Teammate_2" value="880,100"/>
    <add key="MO" value="810,70"/>
    <add key="MO_1" value="825,85"/>
    <add key="MO_Caption_1" value="390,160"/>
    <add key="MO_Teammate_1" value="390,160"/>
    <add key="MO" value="810,70"/>
    <add key="MO_2" value="825,85"/>
    <add key="MO_Caption_2" value="390,160"/>
    <add key="MO_Teammate_2" value="390,160"/>
  </appSettings>
</configuration>
