<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        
    <supportedRuntime version="v2.0.50727"/></startup>
  <appSettings>
    <add key="ASSAEXE" value="assa.exe"/>
    <add key="ASSAPATH" value="D:\GAME\assa_"/>
    <add key="ASSAPATH_base" value="D:\GAME\assa\"/>
    <!--<add key="ASSAPATH2" value="D:\GAME\assa_\"/>-->
    <add key="SAName" value="sa_8001sf"/>
    <add key="LoginUserNameXY" value="390,125"/>
    <add key="LoginPasswordXY" value="390,165"/>
    <add key="RefreshTime" value="500"/>
    <add key="Ajust" value="50,60"/>
    <add key="HD" value="810,55"/>
    <add key="HD_1" value="825,70"/>
    <add key="HD_1_C" value="860,70"/>
    <add key="HD_1_T" value="860,253"/>
    <add key="HD_2" value="825,70"/>
    <add key="HD_2_C" value="860,70"/>
    <add key="HD_2_T" value="860,253"/>
    <add key="MO" value="810,70"/>
    <add key="MO_1" value="825,85"/>
    <add key="MO_1_C" value="390,160"/>
    <add key="MO_1_T" value="390,160"/>
    <add key="MO_2" value="825,85"/>
    <add key="MO_2_C" value="390,160"/>
    <add key="MO_2_T" value="390,100"/>
    <add key="addrX" value="004BB414"/>
    <add key="addrY" value="004BB418"/>
    <add key="addrSW" value="0462BEEC"/>
    <add key="addrMap" value="04581190"/>
    <add key="CharName" value="0461BA5C"/>
    <add key="CharAct" value="04EC0898"/>
    <add key="CharStone" value="0462BEE8"/>
    <add key="CharHP" value="0462BE98"/>
    <add key ="StopTime" value="16,17,18,19,20,21"/>
    <add key="KillMem" value="0.75"/>
    <add key="ProcessNum" value="5"/>
  </appSettings>
</configuration>
